.btn{
    border: none;
    background:transparent;
    cursor: pointer;
    border-radius: 2.4rem;
}

.btn-primary-lg{
    height: 4.8rem;
    padding: 0 var(--spacing-lg);
    background-color: var(--main-purple);
    color: var(--white);
    transition: background-color 0.3s;
}

.btn-primary-lg:hover{
    background-color: var(--main-purple-hover);
}


.btn-primary-sm{
    height: 4rem;
    padding: 0 var(--spacing-md);
    background-color: var(--main-purple);
    color: var(--white);
    transition: background-color 0.3s;
}

.btn-primary-sm:hover{
    background-color: var(--main-purple-hover);
}

.btn-secondary{
    height: 4rem;
    padding: 0 var(--spacing-md);
    background-color: var(--btn-secondary-bg);
    color: var(--main-purple);
    transition: background-color 0.3s;
}

.btn-secondary:hover{
    background-color: var(--btn-secondary-bg-hover);
}

.btn-danger{
    height: 4rem;
    padding: 0 var(--spacing-md);
    background-color: var(--red);
    color: var(--white);
    transition: background-color 0.3s;
}

.btn-danger:hover{
    background-color: var(--red-hover);
}