.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.btn-primary-lg {
  height: 4.8rem;
  padding: 0 var(--spacing-lg);
  background-color: var(--main-purple);
  color: var(--white);
  transition: background-color 0.3s;
}

.btn-primary-lg:hover {
  background-color: var(--main-purple-hover);
}

.btn-primary-sm {
  height: 4rem;
  padding: 0 var(--spacing-md);
  background-color: var(--main-purple);
  color: var(--white);
  transition: background-color 0.3s;
}

.btn-primary-sm:hover {
  background-color: var(--main-purple-hover);
}

.btn-secondary {
  height: 4rem;
  padding: 0 var(--spacing-md);
  background-color: var(--btn-secondary-bg);
  color: var(--main-purple);
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: var(--btn-secondary-bg-hover);
}

.btn-danger {
  height: 4rem;
  padding: 0 var(--spacing-md);
  background-color: var(--red);
  color: var(--white);
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: var(--red-hover);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-surface);
  padding: var(--spacing-lg);
  border-radius: var(--spacing-sm);
  box-shadow: var(--shadow-card);
  gap: var(--spacing-sm);
  cursor: pointer;
}

.card h3{
    transition: color  0.3s;
}

.card h3:hover {
  color: var(--main-purple);
}

.card p {
  color: var(--medium-grey);
}

.column-dot{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.column-dot-purple{
    background-color: var(--dot-purple);
}

.column-dot-blue{
    background-color: var(--dot-blue);
}

.column-dot-green{
    background-color: var(--dot-green);
}

.empty-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    height: 100%;
    text-align: center;
}


.empty-state p{
    color: var(--medium-grey);
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}


.modal-content{
    background-color: var(--bg-surface);
    border-radius: var(--spacing-sm);
    width: 40rem;
    max-width: 90%;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    z-index: 10;
}


.modal[aria-hidden="true"]{
    display: none;
}


/* TASK DETAIL MODAL */


.task-detail-content .modal-header{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.modal-header .modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.modal-section{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}


.modal-header p{
    max-width: 40ch;
    text-align: justify;
}

.subtasks-list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.subtasks-list .subtask{
    display: flex;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
    gap: var(--spacing-md);
    background-color: var(--bg-primary);
    border-radius: var(--spacing-xs);
}

.subtask input[type="checkbox"]{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    flex-shrink: 0;
}

.subtask label{
    cursor: pointer;
    flex: 1;
}

.btn-icon{
    background: transparent;
    cursor: pointer;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn-icon > svg{
    color: var(--medium-grey);
}

.dropdown{
    width: 100%;
    padding: var(--spacing-md) var(--spacing-sm);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: var(--spacing-xs);
    font-weight: bold;
}

/* ADD TASK MODAL */

.modal-content .form-group{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}


.form-group > textarea{
    min-height: 11rem;
    resize: vertical;
}
.modal-content .form-group > input, .modal-content .form-group > textarea{
    padding: var(--spacing-md);
    border: 1px solid var(--border-color);
    border-radius: var(--spacing-xs);
}

.modal-content .form-group > input::placeholder, .modal-content .form-group > textarea::placeholder{
    color: var(--medium-grey);
    line-height: 2.5rem;
    letter-spacing: 0.02rem;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.form-group .subtask-item{
    display: flex;
    gap: var(--spacing-md);
    justify-content: space-between;
    margin-bottom: var(--spacing-md);
}

.subtask-item input{
    flex: 1;
    padding: var(--spacing-md);
    border: 1px solid var(--border-color);
    border-radius: var(--spacing-xs);
}

.add-subtask-btn{
    width: 100%;
}

.subtask-item button > svg{
    color: var(--medium-grey);
    width: 2.6rem;
    height: 2.6rem;
}